.team-header {
    background-color: rgba(2, 53, 119, 0.781);
    color: rgb(247, 247, 247);
}

.team-area {
    margin: 2em auto;
    flex-wrap: wrap;
}

.card-body {
    background-color: rgb(171, 231, 231);
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list-group-item {
    text-decoration: solid;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.employee-card {
    box-shadow: 5px 5px 0px 0px grey;
    max-width: 250px;
    width: 85%;
    margin: 1em;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 20em;
}

