.team-header {
    background-color: rgba(18, 75, 150, 0.781);
    color: rgb(247, 247, 247);
}

.team-area {
    margin: 2em auto;
    max-width: 500px;
    flex-wrap: wrap;
}

.card-body {
    background-color: rgb(17, 121, 211);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list-group-item {
    text-decoration: none;
}

.employee-card {
    max-width: 250px;
    width: 85%;
    margin: 1em;
    background-color: rgb(187, 240, 240);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 20em;
}

